documentos/Acta de finalización 221408GE042.pdf
documentos/221408GE042 Calificaciones.xlsx
documentos/221408GE042 Encuesta num.ods
documentos/221408GE042 Encuesta texto.ods
documentos/Acta de finalización 221408GE042_signed.pdf
recursos/arduinoblocks_IoT.pdf
recursos/Manual Actividades ESP32 SteaMakers.pdf
